/* Custom stylesheet for CC2018 Spectator View
 * @author 	Russell Estes
 *
 */

#main {
	background-color: white;
	padding: 0;
	
	margin: 0;
}

#maze_container {
	background-color: blue;
	padding: 0;
	margin: 0;
/* matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY())
 transform: matrix(.5, 0, 0, .5, -50, -50); */
}

.row {
	border: 0;
	margin: 0;
	padding: 0;
}

.teamButton {
	background-color: white;
    color: black;
	border: 2px solid #e7e7e7;
    padding: 2em 4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.teamButton:hover {
    background-color: #e7e7e7;
    color: white;
}

.cell {
	border: 1px solid #00B9FF;
	background-color: #FAFCFF;
	display: inline-block;
	height: 30px;
	width: 30px;
	
	
	margin: 0;
	padding: 0;
}

.openEast {
	border-right-color: #FAFCFF;
}

.openNorth {
	border-top-color: #FAFCFF;
}

.openSouth {
	border-bottom-color: #FAFCFF;
}

.openWest {
	border-left-color: #FAFCFF;
}

.solutionPath {
	background-color: #d8ecff;

}

